LLM BOT.json
{
  "name": "LLM BOT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -64
      ],
      "id": "21bb7807-3312-4267-a6e0-74b2e3707fa7",
      "name": "Telegram Trigger",
      "webhookId": "801ff286-49ba-491d-afaa-3f453a381d8d",
      "credentials": {
        "telegramApi": {
          "id": "chHxKVOXPhqaZo5l",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi  {{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. You will Keep your responses precise and you will give me every answer to the query in 3 to 4 lines only. Do not type large paragraphs be the best expert in the world and then give me the answers see towards it that you are a bit chit chatty."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -64
      ],
      "id": "b902cbd6-3010-4dd8-a1d2-20f0aab2000e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        160
      ],
      "id": "ea28c29c-91bb-4c62-b616-99f080d3b32d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E4CJPCUYUvGE9SxJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        160
      ],
      "id": "fa4ba44c-955a-4521-aede-aabf18ca6f08",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        320,
        160
      ],
      "id": "7bdcb5d7-2b5f-4c19-a667-31ce0af0f82e",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -64
      ],
      "id": "fa3e4924-46ae-456b-991b-1b2b869d57c0",
      "name": "Send a text message",
      "webhookId": "b10aed81-2f8a-4665-9cb6-f24bdc4bfcfb",
      "credentials": {
        "telegramApi": {
          "id": "chHxKVOXPhqaZo5l",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6425b593-dcd2-43da-9315-4add79ab0437",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91489544a8eb06afd6156d33c7b4cf70fee19b63912388b7c918d3f54d6ff5e3"
  },
  "id": "yQHc9BgisTpXDbeR",
  "tags": []
}